<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Edit your task</h2>
    <p>Task id : <%= work.id %></p>
    <form method="post" action="/tasks/<%= work.id %>?_method=PATCH">
        <textarea rows="5" cols="50" class="task" name="task"><%= work.task %></textarea>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>